# CI/CD:
.circleci

# Github Workflows:
.github

# Git:
.git

# Pre-Hooks:
.husky

# VSCode Config:
.vscode

# Coverage directory used by tools like istanbul
coverage

# Build Output:
dist

# Docker Config:
docker

# Logs:
logs

# Dependency Directories
node_modules

# Environment variable files
.env*

# Ignore files:
.dockerignore
.gitignore
.prettierignore

# Config files:
.prettierrc.json
nodemon.json
# Required inside container for running test cases (jest)
# jest.config.js
# tsconfig.json

# Text files:
README.md
To-Do.md

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json