# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/package-lock.json

# Build Code
/deploy/dist.zip

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/.nyc_output
/assets/pdf/*
/logs/*
/docs/*
/uploads/*
/uploads/sites/*
/uploads/*
/server/src/practice.ts
/newrelic_agent.log

# System Files
.DS_Store
Thumbs.db
debug-Lee-MainDesktop.log
debug.log
bash.exe.stackdump
deploy
