# Ignore config files:
.prettierrc.json
nodemon.json
package.json
tsconfig.json
jest.config.js

# Ignore Workflows:
.github

# Ignore CI/CD:
.circleci

# Ignore artifacts:
build
coverage

# Ignore all HTML files:
**/*.html

# Ignore Logs:
logs/